

<div id="form-wrapper">
	<h1>Enter your time here!</h1>
	<p class="italic small">For FTOP Credits at the Park Slope Food Coop<br/>
  (You must be registered.  Not registered?, <a href="mailto:bfcftop@gmail.com">Email us</a> to get registered)</p>
<%= render 'form' %>
</div>

<script type="text/javascript">
	$(document).on("focus", "[data-behaviour~='datepicker']", function(e){
    $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
});
</script>
