<div id="form-wrapper">
	<h1>Thanks for entering your time!</h1>
	<p>Name: <span class='bold'><%= @member.full_name %></span><br/>
Park Slope Food Coop Id#: <span class='bold'><%= @time_entry.coop_id %></span><br/>

Hours You Entered: <span class='bold'><%= @time_entry.hours_worked %></span><br/>

</p>
<span class='italic'><%= link_to 'Edit', edit_time_entry_path(@time_entry) %></span>
</div>



